@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Rubik+Glitch+Pop&display=swap');


body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/61c30789-77e0-43f4-b55b-5c3e948020d9/dg24zxw-f190df98-25b1-4954-bfe9-f1058e716985.png);
    width: 600px;
    height: 900px;
    margin: auto;
    font-family: Acme;
    text-shadow: 2px 2px 2px rgb(35, 34, 34);
}
.nav{
    background-color: rgba(255, 255, 255, 0.914);
    padding: 1px;
    border-radius: 200px;
    margin: 5px;}

#nav{
        background-color: rgba(13, 29, 95, 0.954);
        margin-top: 100px  ;
        margin-bottom: 10px  ;
        border-radius: 30px;}

.aboutmetitle{
            background-color: rgba(255, 255, 255, 0.118);
            color: rgb(241, 245, 179);
            border-radius: 50px;
            padding: 10px;
            margin: 5px;
            }

            #home{
background-image: linear-gradient(to right,rgba(255, 0, 0, 0.206),rgba(255, 255, 0, 0.237)) ;                color: rgb(255, 255, 255);
                padding: 2px;
                border-radius: 10px;
                text-decoration: none;
                margin-bottom: 3px;
            }
body{
    background-color: rgb(244, 216, 240);
}   
         
a:hover{
    color: white;
    transition: 0.5s;
}
#home{
    transition: 5ms;
}

#home a  :hover{
    color: white;
    
}