@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Rubik+Glitch+Pop&display=swap');


body{
    background-image: url('../img/aboutme2.png');
    width: 600px;
    height: 900px;
    margin: auto;
    font-family: Acme;
    text-shadow: 2px 2px 2px rgb(35, 34, 34);
    background-size:cover;
    /* background-attachment: fixed; */
}
.nav{
    background-color: rgba(255, 255, 255, 0.914);
    padding: 1px;
    border-radius: 200px;
    margin: 5px;}

#nav{   
        background-color: rgba(13, 29, 95, 0.954);
        margin-top: 100px  ;
        margin-bottom: 10px  ;
        border-radius: 30px;}

.aboutmetitle{
            background-color: rgba(255, 255, 255, 0.118);
            color: rgb(247, 255, 129);
            border-radius: 30px;
            padding: 10px;
            margin: 5px;
            }

            #home{
                background-color: #67b8ff3c ;                
                padding: 2px;
                border-radius: 10px;
                text-decoration: none;
                margin-bottom: 3px;
            }
body{
    background-color: rgb(181, 181, 181);
}   
         
a:hover{
    color: rgb(255, 57, 57);
    transition: 0.5s;
}
#home{
    transition: 5ms;
}

#home a  :hover{
    color: rgb(120, 134, 255);
    transition: 0.5s;
    
}