body{
    background-color: rgb(254, 221, 254);
    width: 600px;
    height: 900px;
    margin: auto;
}
h1{
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(240, 218, 218, 0.852);
}
h2{
    background-color: rgba(252, 255, 254, 0.895);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 9px;
}
a :hover{
color: white;
background-color: blue;
}